include [A-Z]*
include setup.py
include *.html
include install
include uninstall
include make-release
include new-version
include version.info
include cmdo.d/*.cmdo
include cmdo.d/*.cmdocore
include cmdo.d/*.cmdodoc
include bin/cmdo
include cmdo/*.py
include debian/*
include etc/bash_completion.d/cmdo
include test/cmdo
include ardo.d/*.cmdo
include ardo.d/*.cmdocore
include bin/ardo
include etc/bash_completion.d/ardo
include test/ardo
include test/test-structext
exclude debian/python-cmdo.*
